.chat_header{
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat_headerinfo{
    padding: 13px;
}

.chatScreen{
    flex: 0.75;
    display: flex;
    flex-direction: column;
}

.chat_body{
    flex: 1;
    background-color: rgb(214, 235, 214);
    overflow: auto;
}

.chat_message{
    color: white;
    position: relative;
    font-size: 16px;
    margin: 10px;
    padding: 7px;
    background-color: purple;
    border-radius: 7px;
    width: fit-content;
    margin-bottom: 10px;
}

.chat_reciever{
    margin-left: auto;
    background-color: green;
}

.chat_message_timedate{
    color: rgb(201, 192, 192);
    /*margin: 3px;*/
    position: relative;
    font-size: 11px;
    left: 3px;
    bottom: -9px;
}

.chat_footer{
    bottom: -9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
    bottom: 10px;
}

.chat_footer_from{
    flex: 1;
    display: flex;
}
