.sidebar_chat {
    display: flex;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6 ;
    height: 90px;
}

.sidechat_info{
    display: flex;
    outline-color: black;
}
.info:hover{
    color: purple;
}

.info{
    margin-left: 10px;
}

.last_message_timedate{
    color: rgb(201, 192, 192);
    position: relative;
    font-size: 14px;
    flex: 1;
    left: 10px;
}