input{
    width: 100%;
}

img{
    padding: 0;
    margin: 0;
}

#title{
    padding: 010px;
    color: purple;
    font-weight: bold;
}

.alert {
    color: rgb(14, 12, 14);
    background-color: rgba(228, 212, 228, 0.671);
    border-color: purple;
}

/*
#btnimag{
    background-color: ghostwhite;
    color:  green;
    border: 2px solid green;
    border-radius: 8px;
}

#btnimag:hover {
    background-color:purple;
    border: 2px solid purple;
    color:  ghostwhite;
  }*/

  #btnimag{
    color:  black;
    text-decoration: underline;
}

#btnimag:hover {
    color:  purple;
  }